.ds-widgets_filterButton {
  margin-top: calc((var(--spacing-sm) + 32px) * -1);
}
.fullscreen .ds-plp-facets__list fieldset {
  background-color: var(--color-body);
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  padding: 1rem;
}
